@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0; /* Correction de la faute de frappe, devrait être '0' */
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-color: #ededed;
  --min-color: #00abf0;
  
}



html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  background: #081b29;
  color: #ededed;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: 0.3s;
}

.logo {
  font-size: 25px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
}

.navbar a {
  text-decoration: none;
  font-size: 18px;
  color: #ededed;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a:active {
  color: #00abf0;
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.accueil {
  display: flex;
  align-items: center;
  padding: 0 9%;
  background: url("") no-repeat;
  background-size: cover;
  background-position: center;
}

.accueil-content {
  max-width: 600px;
}
.accueil-content h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}

.accueil-content h3 {
  font-size: 32px;
  font-weight: 700;
  color: #00abf0;
}

.accueil-content p {
  font-size: 16px;
  margin: 20px 0 40px;
}

.accueil-content .btn-box {
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px; /* Réduire la hauteur à votre préférence */
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 19px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box a:hover {
  color: #00abf0;
}

.btn-box a:nth-child(2) {
  background: transparent;
  color: var(--main-color);
}

.btn-box a:nth-child(2):hover {
  background: #081b29;
}

.btn-box a:nth-child(2)::before {
  background: #00abf0;
}

.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  z-index: -1;
  transition: 0.5s;
}

.btn-box a:hover::before {
  width: 100%;
}

.home-sci {
  position: absolute;
  bottom: 4rem;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 20px;
  color: #00abf0;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.home-sci a:hover {
  color: #081b29;
}

.home-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ededed;
  z-index: -1;
  transition: 0.5s;
}

.home-sci a:hover::before {
  width: 100%;
}

.home-imgHover {
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
  background: transparent;
  transition: 3s;
}

.home-imgHover:hover {
  color: rgba(33, 32, 32, 0.101);
  opacity: 1.8;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background: var(--second-bg-color);
  padding-bottom: 6rem;
}

.heading {
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;
}

span {
  color: #00abf0;
}

.about-img {
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img img {
  width: 40%;
  border-radius: 90%;
  border: 0.2rem solid var(--min-color);
}

.about-img .circle-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: 0.2rem solid #081b29;
  border-bottom: 0.2rem solid #081b29;
  border-left: 0.2rem solid #00abf0;
  border-right: 0.2rem solid #00abf0;
}

.about-content {
  text-align: center;
}

.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

.btn-box.btns {
  display: inline-block;
  width: 15rem;
}

.btn-box.btns a::before {
  background: #081b29;
}

.education {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: auto;
  padding-right: 5rem;
}

.education .education-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.education-row .education-column {
  flex: 1 1 40rem;
}
.education-column .title {
  font-size: 2.5rem;
  margin: 0 0 1.5rem 2rem;
}

.education-column .education-box {
  border-left: 2px solid #00abf0;
}

.education-box .education-content {
  position: relative;
  padding-left: 2rem;
}

.education-box .education-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1.1rem;
  width: 2rem;
  background: var(--min-color);
  border-radius: 50%;
}

.education-content .content {
  position: relative;
  padding: 1.5rem;
  border: 2px solid #00abf0;
  margin-bottom: 2rem;
}

.education-content .content .year {
  font-size: 1.5rem;
  color: var(--min-color);
  padding-bottom: 5rem;
}

.education-content .content .year i {
  padding-right: 0.5rem;
}

.education-content .content h3 {
  font-size: 2rem;
}

.education-content .content p {
  font-size: 1.6rem;
  padding-top: 5rem;
}

.skills {
  min-height: auto;
  padding-bottom: 7rem;
  background: var(--second-bg-color);
}

.skills .skills-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.skills-row .skills-column {
  flex: 1 1 40rem;
}

.skills-column .title {
  font-size: 2.5rem;
  margin: 0 0 1.5rem;
}

.skills-box .skills-content {
  position: relative;
  border: 0.2rem solid var(--min-color);
  border-radius: 0.6rem;
  padding: 0.5rem 1.5rem;
}

.skills-content .progress {
  padding: 1rem 0;
}

.skills-content .progress {
  padding: 1rem 0;
}

.skills-content .progress h3 {
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;
}

.skills-content .progress h3 span {
  color: var(--text-color);
}

.skills-content .progress .bar {
  height: 2.5rem;
  border-radius: 0.6rem;
  border: 0.2rem solid var(--min-color);
  padding: 0.5rem;
  margin: 1rem 0;
}

.skills-content .progress .bar span {
  display: block;
  height: 100%;
  border-radius: 0.3rem;
  background: var(--min-color);
}

.skills-column:nth-child(1) .skills-content .progress::nth-child(1) .bar span {
  width: 90%;
}

.projet {
  background: var(--bg-color);
  padding-bottom: 5rem;
}

.bts {
  display: flex;
}

.projet h2 {
  margin-bottom: 4rem;
}

.card {
  width: 300px; /* Réduire la largeur du carré */
  height: 300px; /* Réduire la hauteur du carré */
  margin: 1rem;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 2.4); /* Ajouter une ombre douce */
}

.card .image-box {
  width: 100%;
  height: 60%; /* Réduire la hauteur de la boîte image */
  overflow: hidden;
}

.card .image-box img {
  width: 100%; /* Remplit l'espace de la boîte image */
  height: 100%; /* Remplit l'espace de la boîte image */
  object-fit: contain; /* Ajuste l'image pour couvrir complètement */
  transition: 0.55s ease-in-out;
}

.card .content {
  padding: 20px;
}
.card::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid white;
  border-radius: inherit;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.card:hover img {
  filter: grayscale(1) brightness(0.4);
}

.card:hover::after {
  opacity: 1;
  inset: 20px;
}

.card .content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  z-index: 1;
}

.card .content h2 {
  transform: scale(0);
  opacity: 0;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.card .content p {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.card:hover .content h2,
.card:hover .content p {
  opacity: 1;
  transform: translateY(0);
}

/*
@media (max-width: 768px) {
  .card {
    width: calc(50% - 2rem); /* 50% de la largeur de l'écran moins les marges 
  }
}

@media (max-width: 576px) {
  .card {
    width: calc(100% - 2rem); /* 100% de la largeur de l'écran moins les marges 
  }
}
*/

.outil {
  background: var(--second-bg-color);
}

.slider {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: rotate 30s linear infinite;
  align-items: center;
  justify-content: center;
}

@keyframes rotate {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }

  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}

.slider span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(350px);
}

.slider span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  object-fit: cover;
  transition: 2s;
}

.slider span:hover img {
  transform: translateY(-50px) scale(1.2);
}

/* Styles pour la section de contact */
.contact {
  min-height: auto;
  padding-bottom: 5rem;
}

/* Styles pour le formulaire de contact */
.contact form {
  max-width: 40rem;
  margin: 0 auto;
  text-align: center;
}

/* Styles pour les champs de saisie dans le formulaire de contact */
.contact form .input-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Styles pour les champs de saisie dans le formulaire de contact */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Styles pour les champs de saisie dans le formulaire de contact */
.contact form .input-box .input-field {
  position: relative;
  width: 49%;
  margin: 0.8rem 0;
}

/* Styles pour les champs de saisie dans le formulaire de contact */
.contact form .input-box .input-field,
input,
.contact form .textarea-field textarea {
  width: 100%;
  height: 100%;
  padding: 0.4rem;
  font-size: 1rem;
  color: var(--text-color);
  background: transparent;
  border-radius: 0.6rem;
  border: 0.05rem solid var(--min-color);
}

/* Styles pour les champs de saisie dans le formulaire de contact */
.contact form .input-box .input-field,
input::placeholder,
.contact form .textarea-field textarea::placeholder {
  color: var(--text-color);
}

/* Styles pour l'effet de focus dans le formulaire de contact */
.contact form .focus {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--second-bg-color);
  border-radius: 0.6rem;
  z-index: -1;
}

/* Styles pour l'effet de focus dans le formulaire de contact */
.contact form .input-box .input-field,
input:focus ~ .focus,
.contact form .input-box .input-field,
input:valid ~ .focus,
.contact form .textarea-field textarea:focus ~ .focus {
  width: 100%;
}

/* Styles pour la zone de texte dans le formulaire de contact */
.contact form .textarea-field {
  position: relative;
  margin: 0.8rem 0 2.7rem;
  display: flex;
}

/* Styles pour la zone de texte dans le formulaire de contact */
.contact form .textarea-field textarea {
  resize: none;
}

/* Styles pour le bouton de soumission dans le formulaire de contact */
.contact form .btn-box .btn {
  cursor: pointer;
}

/* Styles pour le pied de page */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--second-bg-color);
}

/* Styles pour le bouton de retour en haut dans le pied de page */
.footer-iconTop a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  z-index: 1;
  overflow: hidden;
}

/* Styles pour l'effet de fond du bouton de retour en haut */
.footer-iconTop a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--second-bg-color);
  z-index: -1;
  transition: 0.5s;
}

/* Styles pour l'effet de fond du bouton de retour en haut survolé */
.footer-iconTop a:hover::before {
  width: 100%;
}

/* Styles pour l'icône du bouton de retour en haut */
.footer-iconTop a i {
  font-size: 2rem;
  color: var(--bg-color);
}

/* Styles pour l'icône du bouton de retour en haut survolé */
.footer-iconTop a:hover i {
  color: var(--main-color);
}

/* Media queries pour les écrans jusqu'à 1200px de largeur */
@media (max-width: 1200px) {
  html {
    font-size: 60%;
  }
}

/* Media queries pour les écrans jusqu'à 900px de largeur */
@media (max-width: 900px) {
  .header {
    padding: 2rem 4%;
  }

  section {
    padding: 10rem 4% 2rem;
  }

  .home {
    padding: 0 4%;
  }

  .footer {
    padding: 2rem 4%;
  }
}

/* Media queries pour les écrans jusqu'à 768px de largeur */
 @media (max-width: 768px) {
  .header {
    background: var(--bg-color);
  }

  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    padding: 1rem 4%;
    background: var(--main-color);
    box-shadow: 0 0.5rem 1rem rgb(0, 0, 0, 0.2);
    transition: 0.25 ease;
    transition-delay: 0.3s;
  }

  .navbar.active {
    left: 0;
    transition-delay: 0.25s;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }
}